@tailwind base;
@tailwind components;
@tailwind utilities;

.dice-wrapper {
  @apply grid h-min w-min items-center justify-items-center gap-2.5 lg:gap-4;
  grid-template-columns: repeat(2, 1fr);
}

.dice-wrapper:nth-child(even) {
  justify-self: end;
}

.result:hover .copy-card {
  opacity: 100;
  transition: opacity 0.5s ease-in-out;
  @apply fill-green dark:fill-light-deep-green;
}

.copy-card {
  opacity: 0;
}
